body .modal-title{
	font-size: 1.2em;
}

body .form-select{
	font-size: inherit;
}

body .dropdown-toggle{
	-webkit-appearance: none !important;
}

.btn-circle {
    width: 16px;
    height: 16px;
    padding: 6px 0px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: 12px;
    line-height: 1;
}

body a {
	text-decoration: none;
}

.footer{
	position: fixed;
  	bottom: 0;
  	width: 100%;
  	background:rgb(23,27,49,0.9);
}

.h6, h6 {
	font-size: 1.5rem;
}

#logo_login img {height:180px;}
#logo img.logo{ max-height: 100px; }  

.bold-brown{
	font-weight: bold;
	color: #ffa300;
}

h1{ font-size: 2rem;}

@font-face {
    font-family: THSarabun;
    src: url('../fonts/THSarabun/THSarabun.ttf');
}

#overlay_loader {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: black url('../img/system/loader.gif') center center no-repeat;
    opacity: .5;
    z-index: 2;
}

body{
	font-family: THSarabun;
	font-size: 24px;
}

body button,body input,body optgroup,body select,body textarea{
	font-family: THSarabun;
	font-size: inherit;
}
option{
	font-size: 16px;
}

body .btn{
	font-size: 24px;
}

body .form-control{
	font-size: inherit;
	padding: 0.2em 0.5em;
}

.navbar-brand, .dropdown-menu{
	font-size: inherit;
}

.row{
	margin-bottom:15px;
}

.alert {
    cursor: pointer;
}

.hide{
	display:none;
}

.row-header{
	border-bottom: solid 1px gray;
}

.background-none{
	background-color:white;
}

.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.dotted-underline {
	border-bottom:1px dotted gray;
}

.scroll{
	overflow:scroll;
}
.sm-show{
	display: none;
}
.md-show{
	display: none;
}
.sm-hide{
	display: block;
}
.md-hide{
	display: block;
}
.pl-10 {
    padding-left: 6rem !important;
}
.fa{
	vertical-align: middle;
}

/* sm (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.sm-show{
		display: contents;
	}
	.sm-hide{
		display: none;
	}
}

/* md (tablets, 768px and up) */
@media (min-width: 768px) { 
	.md-show{
		display: contents;
	}
	.md-hide{
		display: none;
	}
}

/* lg (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* xl (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

